<?xml version="4.0.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/POM/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

  <servers>
    <server>
      <id>mymaven-snapshots</id>
      <username>admin</username>
      <password>Admin@123</password>
    </server>
    <server>
      <id>mymaven-releases</id>
      <username>admin</username>
      <password>Admin@123</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>http://44.200.191.77:8081/repository/mymaven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>


</settings>
